
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Charts / ECharts - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets copy/img/favicon.png" rel="icon">
  <link href="assets copy/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets copy/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets copy/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets copy/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets copy/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets copy/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets copy/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets copy/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets copy/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.4.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

  <main id="main" class="main">





{{!-- ---------------------------------------------------------------------BODY-------------------------------------------------------------------------------- --}}



<div class="card">
            <div class="card-body">
              <h5 class="card-title">Return Orders  </h5>

              <!-- Table with stripped rows -->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Delivery Method</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Options</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each returnOrders}}
                  <tr>
                    <th scope="row">1</th>
                    <td>{{this.deliveryDetails.name}}</td>
                    <td>{{this.paymentMethod}}</td>
                    <td>{{this.totalAmount}}</td>
                    <td>
                       <a href="/admin/return-details/{{this._id}}" class="btn btn-outline-secondary">More</a>
                    </td>
                    {{/each}}
                  </tr>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>



{{!-- ---------------------------------------------------------------------BODY-------------------------------------------------------------------------------- --}}



  </main><!-- End #main -->

  
  <!-- Vendor JS Files -->
  <script src="assets copy/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets copy/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets copy/vendor/chart.js/chart.min.js"></script>
  <script src="assets copy/vendor/echarts/echarts.min.js"></script>
  <script src="assets copy/vendor/quill/quill.min.js"></script>
  <script src="assets copy/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets copy/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets copy/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets copy/js/main.js"></script>

</body>

</html>